@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
  --laranja: #FF8000;
  --laranja-escuro: #d16900;
  --branco: #FFFFFF;
  --azul: #007BFF;
  --preto: #000000;
  --grafite: #1A1A1A;
  --cinza-claro: #D9D9D9;
  --cinza-mais-claro: #e9e9e9 ;
  --cinza-escuro: #9e9e9e;
  --cor-de-fundo: #ffffff;
  --cinza: #cccccc;

  --fonte-padrao: "Inter", sans-serif;
}

*,*::before,*::after{
  font-family: var(--fonte-padrao);
}

body{
    margin: 0;
    background-color: var(--cor-de-fundo);
}

.textoLaranja{
  color: var(--laranja);
}

.textoCinza{
  color: var(--cinza-escuro);
}